.container {
    width: 100%;
    max-width: 968px;

    display: flex;
    flex-direction: column;

    gap: 60px;

    padding: 0 16px;

    margin-top: -60px;
}

.form-container{
    display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
}
.form-container input {
    flex: 1;
    /* width: 100%; */

    padding: 16px;

    border-radius: 4px;

    border: 1px solid #e0dce4;

    color: var(--grey-800);

    transition: all 0.2s linear;
}

.form-container input::placeholder {
    color: var(--grey-400);
    font-weight: 500;
}

.form-container input:focus {
    border-color: #6f3cc3;
}

.form-container button {
    width: 100%;
    max-width: 100px;


    height: 52px;

    border-radius: 4px;

    color: #fff;

    font-weight: 600;
    letter-spacing: 0.5px;

    background-color: #6f3cc3;
}
.form-container button{
    background-color: rgb(114, 57, 206);

}
.section-task-list{
    display: flex;
        flex-direction: column;
    
        gap: 24px;
    
}
.section-task-header{
display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 24px;

    border-bottom: 1px solid #e0dce4;
}
.info{
    display: flex;
        align-items: center;
        justify-content: space-between;
    
        padding-bottom: 24px;
    
        border-bottom: 1px solid #e0dce4;

}

.count-tasks{
width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: 900;

    border-radius: 999px;
    background-color: #ddd2ef;
}
.count-finisheds{
    width: 24px;
        height: 24px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 12px;
        font-weight: 900;
    
        border-radius: 999px;
        background-color: #bfe3d0;
            color: #2d6c4a;

}
.empty-state{

}
.task-list{
    flex: 1;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        gap: 8px;

}